{# empty Twig template #}
{% extends 'admin/base.html.twig' %}

{% block title %}Import videos{% endblock %}
{% block body %}
    <h2>User</h2>
    <form>

    {% if users %}
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Aktiv</th>
          </tr>
        </thead>
        <tbody>
    {% endif %}


    {% for entry in users %}
        <tr>
            <td>
                {{ entry.username }}
            </td>
            <td>
                {{ entry.email }}
            </td>
            <td>
                <input type="checkbox" value="{{ entry.isActive }}" {{entry.isActive == 1 ? 'checked' }} onclick="location.href='toggle_user_active/{{entry.id}}'" />
        </tr>
        
        
        {% else %}
            <p class="alert alert-info">
                Es sind noch keine User registriert :(
            </p>
    {% endfor %}
    
    {% if users %}
        
 
        </tbody>
        </table>
    {% endif %}
    </form>

{% endblock %}
